@import "vendor/bootstrap/bootstrap.scss" // CSS var overrides in /core/_bootstrap_over.scss
@import "vendor/paper-shadows.scss"
@import "vendor/webgradients.scss"
@import "./core/variables"
@import "./core/base"
@import "./core/helpers"
@import "./controls/button"
@import "./controls/nav"
@import "./controls/card"
@import "./controls/component-loading"

// React mount point
#app
  min-height: 100vh

// All custom styling for the application goes in this file
@import "AppCustom"


.debug-container
  border: 1px solid #f00
// background-color: rgba(255,0,0,.25)

.container-full
  position: absolute
  width: 100%
  height: 100%

.no-transition
  transition: none !important