html
  -ms-text-size-adjust: 100%
  -moz-text-size-adjust: 100%
  -webkit-text-size-adjust: none
  box-sizing: border-box
  min-height: 100vh

*, *::before, *::after
  box-sizing: border-box

body
  position: relative
  margin: 0
  padding: 0
  min-height: 100vh
  background: #fff

svg:not(:root)
  overflow: hidden

img
  vertical-align: middle